@model _2015104916.Entities.Entities.Cinturon

@{
    ViewBag.Title = "Cinturones - Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Cinturón</h2>

<h3>Estás seguro que deseas eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            N° de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metraje)
        </dd>
        <dt>
           N° de Serie del Asiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiento.NumSerie)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Índice", "Index")
        </div>
    }
</div>
