@model IEnumerable<_2015104916.Entities.Entities.Cinturon>

@{
    ViewBag.Title = "Cinturones - Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            N° de Serie
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Metraje)
        </th>
        <th>
            N° de Serie del Asiento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.NumSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metraje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiento.NumSerie)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CinturonId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CinturonId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CinturonId })
        </td>
    </tr>
}

</table>
