@model _2015104916.Entities.Entities.Propietario

@{
    ViewBag.Title = "Propietarios - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Propietario</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           N° Dni
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PropietarioId }) |
    @Html.ActionLink("Regresar al Índice", "Index")
</p>
