@model IEnumerable<_2015104916.Entities.Entities.Parabrisas>

@{
    ViewBag.Title = "Parabrisas - Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            N° de Serie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumSerie)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ParabrisasId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ParabrisasId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ParabrisasId })
        </td>
    </tr>
}

</table>
