@model IEnumerable<_2015104916.Entities.Entities.Ensambladora>

@{
    ViewBag.Title = "Ensambladoras - Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Añadir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre de la Empresa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EnsambladoraId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.EnsambladoraId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.EnsambladoraId })
        </td>
    </tr>
}

</table>
